<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{ fragment/fragments :: base_css }"></th:block>
</head>
<body>

<div th:replace="~{ fragment/fragments :: header }"></div>

<main class="container">
    <h1>Sandwich menu</h1>

    <div>
        <a href="/sandwich/add">
            <button class="btn btn-success">add sandwich</button>
        </a>
    </div>


    <table class="table">
        <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>price</td>
            <td>details</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list}" th:object="${item}">
            <td th:text="*{id}">1</td>
            <td th:text="*{name}">basique</td>
            <td th:text="*{price}">5.50</td>
            <td>
                <a th:href="@{ /sandwich/{id} (id=*{id}) }">details</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>


<div th:replace="~{ fragment/fragments :: footer }"></div>

<div th:replace="~{ fragment/fragments :: base_js }">
</div>

</body>
</html>