<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A la carte</title>
    <th:block th:replace="~{ fragment/fragments :: base_css }"></th:block>
</head>
<body>
    <h1>Sandwich a la carte</h1>

    <table>
        <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>price</td>
            <td>details</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${list}" th:object="${item}">
            <td th:text="*{id}">1</td>
            <td th:text="*{name}">basique</td>
            <td th:text="*{price}">5.50</td>
            <td>
                <a th:href="@{ /sandwich/{id} (id=*{id}) }">details</a>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>