<!DOCTYPE html>
<html lang="fr" th:replace="~{ fragment/layout :: layout(~{ :: content }) }">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<th:block th:fragment="content" th:object="${sandwich}">



  <div class="card mt-2">
    <div class="card-header">
      <h1>Sandwich details</h1>
    </div>
    <div class="card-body">
      <p>
        <span class="field-title">id: </span>
        <span class="field-value" th:text="*{id}"></span>
      </p>
      <p>
        <span class="field-title">name: </span>
        <span class="field-value" th:text="*{name}"></span>
      </p>
      <p>
        <span class="field-title">id: </span>
        <span class="field-value" th:text="*{price}"></span>
      </p>
      <p>
        <span class="field-title">name: </span>
        <span class="field-value" th:text="*{description}"></span>
      </p>
      <p>
      <p>ingrédients:</p>
      <ul>
        <li th:each="ing : *{ingredients}" th:text="${ing.name}"></li>
      </ul>
      </p>
    </div>
  </div>

  <a href="/sandwich/all">
    <button class="btn btn-primary">back to menu</button>
  </a>
  <a th:href="@{ /sandwich/{id}/update (id=${sandwich.id}) }">
    <button class="btn btn-primary">
      update
    </button>
  </a>
</th:block>


</body>
</html>