<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandwich</title>
    <th:block th:replace="~{ fragment/fragments :: base_css }"></th:block>
</head>
  <body>
    <h1>Sandwich details:</h1>

    <dl th:object="${sandwich}">

      <dt>id</dt>
      <dd th:text="*{id}"></dd>

      <dt>name</dt>
      <dd th:text="*{name}"></dd>

      <dt>price</dt>
      <dd th:text="*{price}"></dd>

      <dt>description</dt>
      <dd th:text="*{description}"></dd>

    </dl>

    <a href="/sandwich/all">
      <button>back to menu</button>
    </a>

  </body>
</html>