<!DOCTYPE html>
<html lang="fr" th:replace="~{fragment/layout :: layout(~{ :: content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="content">
    <h1>Sandwich update form</h1>

    <form th:action="@{ /sandwich/{id}/update (id=${id}) }" method="post" th:object="${form}">


        <div class="mb-3">
            <label for="in-name" class="form-label">name:</label><br/>
            <input type="text" id="in-name" class="form-control" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="mb-3">
            <label for="in-price" class="form-label">price:</label><br/>
            <input type="number" class="form-control" id="in-price" th:field="*{price}">
            <p th:if="${ #fields.hasErrors('price') }" th:errors="*{price}" style="color: red" >attention erreur</p>
        </div>

        <div class="mb-3">
            <label for="in-desc" class="form-label">description:</label><br/>
            <p th:if="${ #fields.hasErrors('desc') }" th:errors="*{desc}" style="color: red">attention erreur</p>
            <textarea id="in-desc" class="form-control" cols="30" rows="10" th:field="*{desc}"></textarea>
        </div>

        <div class="mb-3">
            <label for="in-ing" class="form-label">ingredients:</label><br/>
            <select id="in-ing" class="form-control" th:field="*{ingredientsId}" multiple="multiple">
                <option th:each="ing : ${ingredients}"
                        th:text="${ing.name}"
                        th:value="${ing.id}">
                </option>
            </select>
        </div>

        <button type="submit">envoyer</button>

    </form>
</th:block>


</body>
</html>